.investmentWrapSection {
    padding: 30px;
    border-radius: 15px;
    @media(max-width: 991px){
        padding: 0px;
        background-color: transparent;
    }
    .delistingsUpdate {
        background-image: url("../images/investment/News@3x.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 751px;
        height: 393px;
        display: inline-block;
        padding: 30px;
        @media (max-width:1199px){
            background-size: cover;
            border-radius: 30px;
        }
        @media(max-width: 991px){
            max-width: 100%;
            width: 100%;
            display: none;
        }
        .carousel.slide{
            max-width: 258px;
            height: 335px;
            position: relative;
            .carousel-indicators {
                justify-content: flex-start;
                margin-left: 0;
                margin-bottom: 0px;
            }
        }
        .delistingsTextWrap {
            color: #fff;
            h6{
                font-size: 12px;
                font-weight: 600;
                color: #fff;
            }
            h4{
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 30px;
                @media (max-width:480px){
                    font-size: 21px;
                }
            }
            p{
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 60px;
                @media (max-width:767px){
                    margin-bottom: 10px;
                }
                @media (max-width:480px){
                    font-size: 14px;
                }
            }
            .findMore {
                background-color: #fff;
                color: #16161F;
                font-size: 14px;
                font-weight: 600;
                border-radius: 5px;
                padding: 10px 25px;
                @media (max-width:767px){
                    display: none;
                }
            }
        }
    }
}
.coreAssets {
    padding: 45px 5px 35px;
    .heading {
        h3{
            font-size: 18px;
            font-weight: 600;
            color:#16161F;
        }
    }
}
.coinSectionWrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    .MobileCrousle{
        width: 100%;
    }
    .coinDetailSection {
        -webkit-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
        -moz-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
        box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
        border-radius: 24px;
        padding-top: 24px;
        // min-width: 356px;
        width: calc(50% - 15px);
        margin-bottom: 30px;
        overflow: hidden;
        @media(max-width:991px){
            display: none;
        }
        .coinSectionHeader {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border-bottom: 1px solid #E5E8EF;
            padding-bottom: 20px;
            margin-bottom: 20px;
            padding-right: 24px;
            padding-left: 24px;
            @media (max-width:767px){
                padding-bottom: 15px;
                padding-right: 15px;
                padding-left: 15px;
            }
            .timeWrap {
                font-size: 12px;
                font-weight: 600;
                color: #16161F;
                background-color: #a7b4cbab;
                border-radius: 32px;
                width: 40px;
                min-width: 40px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width:767px){
                    min-width: 35px;
                }
            }
            .coinNameValue {
                display: inline-block;
                width: 100%;
                padding: 0 12px;
                @media (max-width:767px){
                    padding: 0 6px;
                }
                h5{
                    margin-bottom: 0;
                    font-size: 16px;
                    font-weight: 600;
                    color: #16161F;
                }
                p{
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 500;
                    color: #808191;
                }
            }        
        }
        .GraphSection {
            padding-right: 24px;
            padding-left: 24px;
            margin-bottom: 40px;
            @media (max-width:767px){
                padding-right: 15px;
                padding-left: 15px;
                margin-bottom: 30px;
            }
            img{
                width: 100%;
            }
        }
        .coinBaseButtonSection {
            width: 100%;
            border-top: 1px solid #A7B4CB;
            .coinBaseButton {
                height: 60px;
                font-size: 16px;
                font-weight: 600;
                color: #16161F;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width:480px){
                    font-size: 13px;
                }
                &:nth-child(2){
                    &::after{
                        content: '';
                        width: 1px;
                        height: 31px;
                        background-color: #A7B4CB;
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &::before{
                        content: '';
                        width: 1px;
                        height: 31px;
                        background-color: #A7B4CB;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                &:hover{
                    background-color: #BDC7D8;
                    color: #fff;
                }
                &:active,&:focus {
                    background-color:#1269FF;
                    color: #fff;
                }
            }
        }
    }
}
.MoreAssetsSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
    .MoreAssetsbutton {
        background-color: #355DFF;
        border:1px solid #355DFF;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        border-radius: 12px;
        width: 291px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: #BDC7D8;
            border:1px solid #BDC7D8;
            color: #fff;
        }
    }
}
.investSidebar {
    padding: 10px !important;
}
.WithdrowGraphWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 24px;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
    .GraphTextSection {
        text-align: center;
        padding-top: 30px;
        h4{
            font-size: 21px;
            font-weight: 600;
            color: #16161F;
        }
        .btcBackground {
            background-color: #FF9F38;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 54px;
            height: 27px;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            margin: 0 auto;
            border-radius: 32px;
        }
        h5{
            font-size: 30px;
            font-weight: 600;
            color: #16161F;
        }
        h6{
            font-style: 16px;
            font-weight: 600;
            color: #A7B4CB;
        }
        .withdrawSidebar {
            margin-top: 30px;
            width: 117px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            background-color: #355DFF;
        }
    }
}
.latestActivitys {
    margin-top: 80px;
    .mainHeading {
        font-size: 16px;
        font-weight: 600;
        color: #16161F;
        padding-bottom: 40px;
    }
}
.activityBlock {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 26px;
    border-bottom: 1px solid #E5E8EF;
    margin-bottom: 25px;
    .activityDetails {
        width: 100%;
        display: inline-block;
        padding: 0 15px;
        h3{margin-bottom: 0px;font-size: 16px;font-weight: 700;color: #1E1F20;}
        h5{margin-bottom: 0px;font-size: 12px;font-weight: 600;color: #16161F;margin-top: 3px;}
        p{margin-bottom: 0px;font-size: 14px;font-weight: 400;color: #16161F;margin-top: 8px;}
    }
    .activityDate {
        white-space: nowrap;
        font-size: 12px;
        font-weight: 400;
        color: #8F92A1;
    }
}
.viewAllSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 600;
    color: #16161F;
    img{
        margin-right: 20px;
    }
}
.buyingWrap {
    .mainHeading {
        font-size: 16px;
        font-weight: 600;
        color: #16161F;
        padding-bottom: 40px;
    }
}
.buyingInformation {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.informationTextSection {
    width: 100%;
    .activityDetails {
        .infoText {
            font-size: 11px;
            font-weight: 600;
            color: #8F92A1;
        }
    }
    .information {
        padding-bottom: 26px;
        border-bottom: 1px solid #E5E8EF;
        margin-bottom: 25px;
        h3{font-size: 14px;font-weight: 600;color: #8F92A1;margin-bottom: 8px;}
        p{font-size: 16px;font-weight: 600;color: #16161F;margin-bottom: 0px;}
    }
    .smallList {
        border-bottom: 1px solid #E5E8EF;
        .feeTotalInfo{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 12px;
            padding-top: 7px;
            h5{
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                color: #16161F;
            }
        }
    }
}
.buySellSection {
    padding: 30px;
    border-radius: 15px;
}
.btnSectionBuySell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 42px;
    .buySellButton {
        width: 60px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
        color: #A7B4CB;
        background-color: transparent;
        padding: 11px 17px;
        border-radius: 20px;
        margin-right: 8px;
        &.active,&:hover,&:active{
            background-color: #E4E4E4;
            color: #16161F;
        }
    }
}
.CurrencyHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .heading h3{
        font-size: 16px;
        font-weight: 600;
        color: #16161F;
    }
    .dropdown {
        .dropdown-toggle {
            font-size: 14px;
            font-weight: 600;
            color:#16161F;
        }
        .dropdown-menu {
            p{
                padding: 16px;
                font-size: 14px;
                font-weight: 400;
                color: #16161F;
            }
        }
    }
}
.coinSelection{
    padding-top: 30px;
    padding-bottom: 40px;
    ul{
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        .MobileCrousle {
            display: inline-block;
            width: 100%;
            .gallery-cell {
                width: 30%;
                @media (max-width: 1250px) and (min-width: 992px) {
                    width: 50%;
                }
                @media (max-width:767px){
                    width: 85%;
                }
            }
        }
        li{
            margin-right: 15px;
            padding-bottom: 30px;
            padding-left: 15px;
            padding-top: 10px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
}
.swapButton {
    border: 0px solid transparent;
    background: transparent;
}
.coinDetailPrice {
    width: 100%;
    min-width: 224px;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
    border-radius: 24px;
    border: 2px solid #fff;
    @media (max-width:991px){
        min-width: 190px;
    }
    &.active{
        border: 2px solid#3DBAA2; 
    }
    .coinDetailHeader {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 24px;
        padding-bottom: 40px;
        border-bottom: 2px solid #E5E8EF;
    }
    .textSection {
        margin-left: 12px;
        h5{font-size: 15px;font-weight: 500;color: #11142D;}
        p{font-size: 14px;font-weight: 600;color: #A7B4CB;}
    }
    .priceCount p{
        padding: 23px;
        font-size: 21px;
        font-weight: 600;
        color: #16161F;
    }
}
.addNewPayment {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.amountSectionChange {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    @media (max-width:767px){
        flex-direction: column;
    }
    &.active{
        flex-direction: row-reverse;
        @media (max-width:767px){
            flex-direction: column-reverse;
        }
    }
    img{
        @media (max-width:767px){
            margin: 15px 0;
        }
    }
    .amountCount {
        background-color: #fff;
        -webkit-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
        box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
        border-radius: 24px;
        width: calc(50% - 70px);
        @media (max-width:1200px){
            width: calc(50% - 40px);
        }
        @media (max-width:767px){
            width: 100%;
        }
        input{
            margin-bottom: 0px;
            padding: 33px;
            font-size: 21px;
            font-weight: 600;
            color: #16161F;
            width: 100%;
            border: 0px solid transparent;
            background-color: transparent;
            &:active,&:focus,&:hover{
                border: 0px solid transparent;
                background-color: transparent;
            }
        }
    }
}
.investmentModalWrap {
    max-width: 750px;
    .modal-body {
        padding: 0px;
    }
}
.investmentModal {
    padding: 65px;
    padding-right: 0px;
    @media(max-width:767px){
        padding: 25px;
    }
}
.coinColumSection {
    @media (max-width:767px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 40px;
        margin-left: 24%;
        margin-top: 20px;
    }
    h3{
        font-size: 16px;
        font-weight: 600;
        color: #8F92A1;
        padding-left: 53px;
    }
}
.coinDetails {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 40px;
    img{
        width: 40px;
        height: 40px;
    }
    .TextWrap{
        padding-left: 15px;
        h4{font-size: 16px;font-weight: 700;color: #1E1F20;margin-bottom: 8px;}
        p{font-size: 11px;font-weight: 600;color: #8F92A1;}
    }
    &.dashedLines {
        align-items: center;
        position: relative;
        padding-top: 65px;
        .TextWrap {
            h5{font-size: 16px;font-weight: 700;color: #1E1F20;margin-bottom: 0;}
            p{font-size: 14px;font-weight: 400;color: #8F92A1;position: absolute;bottom: 36px;margin-bottom: 0;}
        }
        // &.avilableColor{
        //     .TextWrap{
        //         h5{color: #8F92A1;}
        //     }
        // }
        &:last-child{
            &::before{
                content: '';
                display: none;
            }
        }
        &::before{
            content: '';
            background-image: url("../images/investment/Line.svg");
            background-position: center;
            background-repeat: repeat-y;
            background-size: contain;
            display: inline-block;
            width: 6px;
            height: 68px;
            position: absolute;
            top: 100%;
            left: 17px;
        }
    }
    &.avilableColor{
        .TextWrap{
            h5{color: #8F92A1;}
        }
    }
}
.confirmTransaction {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    @media (max-width:767px){
        padding-right: 0px;
    }
    &::after{
        content: '';
    }
    h5{
        text-align: center;
        font-size: 21px;
        font-weight: 600;
        color: #8F92A1;
        margin-bottom: 31px;
        @media (max-width:767px){
            display: none;
        }
    }
    p{
        font-size: 14px;
        font-weight: 400;
        color: #8F92A1;
        padding-bottom: 31px;
        @media (max-width:767px){
            display: none;
        }
    }
    .MoreAssetsSection {
        padding-top: 0px;
        padding-bottom: 0;
    }
    .confirmBuyLink {
        padding-top: 60px;
        font-size: 14px;
        font-weight: 400;
        color: #1269FF;
    }
}
.topUpWrapbutton {
    background-color: #a7b4cb3a;
    border-radius: 10px;
    border: 0px solid transparent;
    display: flex;
    align-items: center;
    padding: 10px 22px;
    width: 212px;
    justify-content: center;
}

.MobileCrousle {
    display: none;
    @media(max-width: 991px){
        display: block;
    }
    .coinDetailSection {
        @media(max-width: 991px){
            display: block;
            width: 100%;
        }
    }
    .gallery {
        background: transparent;
        .delistingsUpdate {
            @media(max-width: 991px){
                display: block;
                height: 300px;
            }
            @media(max-width: 767px){
                height: 220px;
            }
            @media(max-width: 480px){
                height: un;
            }
        }
    }
    .flickity-enabled {
        position: relative;
        &:focus, &:active{
            outline: none;
            box-shadow: none;
            border: 0px solid;
        }
        .flickity-viewport {
            overflow: hidden;
            position: relative;
            height: 100%;
        }
        &.is-draggable {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            .flickity-viewport {
                cursor: move;
                cursor: -webkit-grab;
                cursor: grab;
            }
        }
    }
    .flickity-slider {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .gallery-cell {
        width: 66%;
        margin-right: 10px;
        counter-increment: gallery-cell;
        @media(max-width: 767px){
            width: 80%;
        }
    }
    .gallery-cell:before {
        display: block;
        text-align: center;
    }
}
.nav-link.buySelltableTabs {
    width: 60px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: #A7B4CB;
    background-color: transparent;
    padding: 11px 17px;
    border-radius: 20px;
    margin-right: 8px;
    &.active{
        background-color: #E4E4E4;
        color: #16161F;
    }
}
.coinSelection ul.pagination li{
    margin-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}