/* .settingleftWrap .side-nav li.active a i */

.settingleftWrap {
    .side-nav {
        li {
            ul {
                margin-left: 30px;
            }
            a {
                i.icon {
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 15px;
                    &.icon-accountSetting {
                        background-image: url(../images/svg/svgImg/settings_icon.svg);
                    }
                    &.icon-editProfile {
                        background-image: url(../images/svg/svgImg/edit_icon.svg);
                    }
                    &.icon-securitySetting {
                        background-image: url(../images/svg/svgImg/security_icon.svg);
                    }
                    &.icon-privacy {
                        background-image: url(../images/svg/svgImg/lock_icon.svg);
                    }
                    &.icon-notifications {
                        background-image: url(../images/svg/svgImg/notifications-icon.svg);
                    }
                    &.icon-linkedAccounts {
                        background-image: url(../images/svg/svgImg/settings_icon.svg);
                    }
                    &.icon-membership {
                        background-image: url(../images/svg/svgImg/settings_icon.svg);
                    }
                    &.icon-affiliates {
                        background-image: url(../images/svg/svgImg/settings_icon.svg);
                    }
                    &.icon-points {
                        background-image: url(../images/svg/svgImg/giftbox_icon.svg);
                    }
                    &.icon-coinPayments {
                        background-image: url(../images/svg/svgImg/settings_icon.svg);
                    }
                    &.icon-BankTransfers {
                        background-image: url(../images/svg/svgImg/settings_icon.svg);
                    }
                    &.icon-Verification {
                        background-image: url(../images/svg/svgImg/ok_icon.svg);
                    }
                    &.icon-Blocking {
                        background-image: url(../images/svg/svgImg/block_icon.svg);
                    }
                    &.icon-YourInformation {
                        background-image: url(../images/svg/svgImg/at_icon.svg);
                    }
                    &.icon-Apps {
                        background-image: url(../images/svg/svgImg/apps_icon.svg);
                    }
                    &.icon-deleteAccount {
                        background-image: url(../images/svg/svgImg/delete_icon.svg);
                    }
                    &.icon-YourInformation {
                        background-image: url(../images/svg/svgImg/settings_icon.svg);
                    }
                }
            }
            &.active,
            &:hover {
                a {
                    font-weight: 700;
                    i.icon {
                        &.icon-accountSetting {
                            background-image: url(../images/svg/svgImg/settings_icon_hover.svg);
                        }
                        &.icon-editProfile {
                            background-image: url(../images/svg/svgImg/edit_icon_hover.svg);
                        }
                        &.icon-securitySetting {
                            background-image: url(../images/svg/svgImg/security_icon_hover.svg);
                        }
                        &.icon-privacy {
                            background-image: url(../images/svg/svgImg/lock_icon_hover.svg);
                        }
                        &.icon-notifications {
                            background-image: url(../images/svg/svgImg/notifications_icon_hover.svg);
                        }
                        &.icon-linkedAccounts {
                            background-image: url(../images/svg/svgImg/settings_icon_hover.svg);
                        }
                        &.icon-membership {
                            background-image: url(../images/svg/svgImg/settings_icon_hover.svg);
                        }
                        &.icon-affiliates {
                            background-image: url(../images/svg/svgImg/settings_icon_hover.svg);
                        }
                        &.icon-points {
                            background-image: url(../images/svg/svgImg/giftbox_icon_hover.svg);
                        }
                        &.icon-coinPayments {
                            background-image: url(../images/svg/svgImg/settings_icon_hover.svg);
                        }
                        &.icon-BankTransfers {
                            background-image: url(../images/svg/svgImg/settings_icon_hover.svg);
                        }
                        &.icon-Verification {
                            background-image: url(../images/svg/svgImg/ok_icon_hover.svg);
                        }
                        &.icon-Blocking {
                            background-image: url(../images/svg/svgImg/block_icon_hover.svg);
                        }
                        &.icon-YourInformation {
                            background-image: url(../images/svg/svgImg/at_icon_hover.svg);
                        }
                        &.icon-Apps {
                            background-image: url(../images/svg/svgImg/apps_icon_hover.svg);
                        }
                        &.icon-deleteAccount {
                            background-image: url(../images/svg/svgImg/delete_icon_hover.svg);
                        }
                        &.icon-YourInformation {
                            background-image: url(../images/svg/svgImg/settings_icon_hover.svg);
                        }
                    }
                }
            }
            &.active,
            &:hover {
                ul {
                    margin-left: 30px;
                    li {
                        a {
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

body.index-localhub, body.profile-localhub { 
    .post-actions .action-btn {
        display: flex;
        align-items: center;
        span {
            font-weight: 600;
        }
        i.icon-post {
            width: 30px;
            height: 30px;
            display: inline-block;
            &.icon_like {
                background: url(../images/svg/svgImg/nav_icon_localhub-active.svg) no-repeat center;
            }
            &.icon_comment {
                background: url(../images/svg/svgImg/nav_icon_nav_icon_messages_hover.svg) no-repeat center;
            }
            &.icon_share {
                background: url(../images/Shareglobal.svg) no-repeat center;
            }
        }
    }
}

.publisher-tools-tabs {
    display: flex;
    align-items: center;
    @media(max-width: 990px) {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        align-items: left;
    }
    li {
        margin: 0 2px;
        display: flex;
        overflow: hidden;
        @media(max-width: 990px) {
            width: 100%;
            display: flex;
            align-items: center;
        }
        i {
            width: 25px;
            height: 25px;
            font-size: 13px;
            background: #eee;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 990px) {
                width: 38px;
                height: 38px;
                font-size: 16px;
                border-radius: 4px;
                position: relative;
                left: -4px;
                justify-content: center;
                align-items: center;
                display: flex;
                background-color: #000;
                color: #fff;
            }
        }
        .class-publisher-text {
            display: none;
            @media(max-width: 990px) {
                display: block;
                font-weight: 700;
                color: #000;
            }
        }
    }
}

a.s-more {
    width: 15px;
    position: relative;
    z-index: 1;
    margin-left: 21px;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    @media(max-width: 990px) {
        align-self: flex-start;
        width: 38px;
        height: 38px;
        align-items: center;
        border: 2px solid #eee;
        border-radius: 6px;
        padding: 6.5px;
        position: relative;
        margin-left: 5px;
        margin-top: 10px;
        &:before {
            position: absolute;
            content: 'More options';
            color: #900;
            left: 49px;
            font-size: 13px;
            white-space: nowrap;
            color: #000;
            font-weight: 700;
        }
    }
}

a.s-more span {
    width: 3px;
    height: 3px;
    background: #8e92a2;
}

ul.publisher-tools-tabs-ul-newDesign {
    margin: 0px;
    padding: 0px;
    @media(max-width: 991px) {
        text-align: left;
        width: 100%;
    }
}

ul.publisher-tools-tabs-ul-newDesign li.show-item {
    display: flex;
}